node_modules

FileCabinet/*
!FileCabinet/SuiteScripts
FileCabinet/SuiteScripts/*
!FileCabinet/SuiteScripts/BerganKDV
FileCabinet/SuiteScripts/BerganKDV/*
!FileCabinet/SuiteScripts/BerganKDV/netsuite_modules

deploy.xml
**.deploy.xml

project.json

.eslintcache

!package-lock.json
yarn.lock

**/.DS_Store
**.log